.info {
  padding: 1rem;
  margin-bottom: block(medium);
  background-color: var(--tone-brand-2);
  border-left: 4px solid var(--brand-2-color);
}

.infoTitle {
  @include h4;
  margin-bottom: 24px;
}

.infoItem {
  display: flex;
  line-height: 1;
  align-items: center;
}

.infoItem:not(:last-child) {
  margin-bottom: 10px;
}

.infoTerm,
.infoDetails {
  display: inline-block;
}

.infoTerm {
  margin-right: 10px;

  svg {
    width: 24px;
  }
}

.infoTermLabel {
  @include visuallyHidden;
}
