.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}

.header[data-scrolled="true"] {
  border-bottom: 1px solid var(--tone-light);
}

.headerInner {
  display: flex;
  max-width: $maxWidth;
  padding: block(gutter);
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;

  @include breakpoint(large up) {
    padding: block(gutter) block(medium);
  }
}

.headerLogo {
  display: block;
  width: 180px;
  height: auto;
}

.headerButton {
  color: currentColor;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  @include breakpoint(xlarge up) {
    display: none;
  }
}

.headerButton[aria-expanded=true] {

  .headerButtonIcon {
    background-color: transparent;
  }

  .headerButtonIcon::before {
    transform: translateY(8px) rotate(45deg);
  }

  .headerButtonIcon::after {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.headerButtonLabel {
  @include visuallyHidden;
}

.headerButtonIcon,
.headerButtonIcon::before,
.headerButtonIcon::after {
  @include transition(transform);
  display: inline-block;
  width: 26px;
  height: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: currentColor;
  border-radius: 4px;
  line-height: 1;
}

.headerButtonIcon {
  @include transition(background);
  position: relative;
  margin-left: block(small);
}

.headerButtonIcon::before,
.headerButtonIcon::after {
  content: '';
  position: absolute;
  left: 0;
}

.headerButtonIcon::before {
  margin-top: -8px;
  transform: translateY(0) rotate(0);
}

.headerNav {
  @include breakpoint(large down) {
    @include transition((opacity, transform, visibility));
    position: fixed;
    top: 68px;
    right: 0;
    width: 320px;
    height: calc(100% - 68px);
    background-color: white;
    box-shadow: 0 12px 12px rgba(black, 0.1);
    opacity: 0;
    visibility: hidden;

    li {
      @include transition((opacity, transform));
      width: 100%;
      opacity: 0;
      transform: translateY(10px);
    }

    .headerButton[aria-expanded="true"] + & {
      opacity: 1;
      transform: scale(1);
      visibility: visible;

      @for $i from 1 through 7 {
        $delay: $i * 50ms + 200ms;

        li:nth-child(#{$i}) {
          opacity: 1;
          transform: translateY(0);
          transition-delay: $delay;
        }
      }
    }
  }
}

.navList {
  @include breakpoint(large down) {
    height: 100%;
    margin: auto;
  }

  @include breakpoint(xlarge up) {
    display: flex;
  }
}

.navItem {
  display: flex;
  position: relative;

  span {
    display: flex;
    align-items: center;
  }

  span::after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: 8px;
    margin-bottom: 4px;
    border: 1px solid;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
  }

  &:focus-visible {
    outline: dashed 2px var(--primary-color);
    outline-offset: 4px;
  }

  @include breakpoint(large down) {
    flex-wrap: wrap;
    border-bottom: 1px solid var(--tone-light);

    span {
      width: 100%;
      justify-content: space-between;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.navButton {
  margin-left: 16px;

  @include breakpoint(large down) {
    margin-top: 16px;
  }
}

.navLink {
  @include font-opensans(300, italic);
  display: flex;
  text-transform: uppercase;
  align-items: center;
  cursor: pointer;

  &:focus-visible {
    outline: dashed 1px var(--brand-1-color);
  }

  @include breakpoint(large down) {
    padding: block(gutter) block(medium);
  }

  @include breakpoint(medium down) {
    padding: block(gutter);
  }

  @include breakpoint(xlarge up) {
    margin-right: 12px;
    margin-left: 12px;
  }
}

.navDropdown {
  a {
    @include font-opensans;
    display: block;
    margin: 0;
    text-transform: none;

    &:focus-visible {
      outline: dashed 1px var(--brand-1-color);
    }
  }

  @include breakpoint(large down) {
    @include transition(max-height);
    width: 100%;
    max-height: 0px;
    background-color: var(--tone-primary);
    overflow: hidden;

    .navItem[aria-expanded="true"] & {
      max-height: 1000px;
    }
  }

  @include breakpoint(xlarge up) {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 172px;
    background-color: white;
    border: 1px solid var(--tone-light);
    text-align: center;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;

    .navItem[aria-expanded="true"] &,
    .navItem:hover &,
    .nav:focus-within & {
      opacity: 1;
      visibility: visible;
    }

    li {
      padding: 8px;
      border-bottom: 1px solid var(--tone-light);
    }

    li:last-child {
      border-bottom: none;
    }
  }
}

.navDropdown::before {
  @include breakpoint(xlarge up) {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 12px;
    height: 12px;
    margin-bottom: 1px;
    background-color: white;
    border: 1px solid var(--tone-light);
    border-right: none;
    border-bottom: none;
    transform: translate(-50%, 50%) rotate(45deg);
  }
}