.event {
  @include gridWidth;
  @include gridPadding;
  @include section;
  display: flex;
  justify-content: space-between;

  @include breakpoint(medium down) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

.eventBody {
  @include breakpoint(large up) {
    width: calc(((100% - (11 * 32px)) / 12) * 8 + (7 * 32px));
  }

  @include breakpoint(xlarge up) {
    width: calc(((100% - (11 * 32px)) / 12) * 8 + (7 * 32px));
    margin-left: calc(((100% - (11 * 32px)) / 12) * 1 + 32px);
  }
}

.eventAside {
  @include breakpoint(large up) {
    width: calc(((100% - (11 * 32px)) / 12) * 4 + (3 * 32px));
  }

  @include breakpoint(xlarge up) {
    width: calc(((100% - (11 * 32px)) / 12) * 3 + (2 * 32px));
  }
}
