.portableText {
  > * {
    margin-top: block(gutter);
    margin-bottom: block(gutter);
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  a {
    position: relative;
  }

  a:not(.blockLink) {
    @include inline-link;
  }

  li {
    position: relative;
    padding-left: block(large);
    margin-bottom: block(gutter);
  }

  li::before {
    content: "\2022";
    position: absolute;
    top: 0;
    left: 1.5rem;
    margin-top: -10px;
    font-size: 48px;
    line-height: 1;
    color: var(--primary-color);
  }

  blockquote {
    @include lead;
    padding: block(gutter);
    margin-top: block(medium);
    margin-bottom: block(medium);
    background-color: var(--tone-brand-2);
    border-left: 4px solid var(--brand-2-color);
  }
}

.blockLink {
  @include theme-link;
}

.textLead {
  @include lead;
}

.textSmall {
  @include small;
}
