.card {
  @include card-link;
  display: block;
  position: relative;
  background-color: white;
}

.card[data-featured="true"] {
  margin-bottom: block(large);
  background-color: var(--tone-primary);

  @include breakpoint(medium up) {
    display: flex;
    margin-bottom: block(large);
    flex-direction: row-reverse;

    > * {
      width: 50%;
    }
  }
}

.cardThumbnail {
  @include bgImg;
  background-color: var(--tone-primary);
  padding-bottom: calc(2 / 3 * 100%);
}

[data-featured="true"] .cardThumbnail {
  position: relative;

  @include breakpoint(medium up) {
    padding-bottom: 30%;
  }
}

.cardContent {
  padding: block(gutter) 0;
}

[data-featured="true"] .cardContent {
  padding-top: block(large);
  padding-bottom: block(large);
  margin: auto;

  h3 {
    margin-bottom: 24px;
  }

  @include breakpoint(medium down) {
    padding-right: block(gutter);
    padding-left: block(gutter);
  }

  @include breakpoint(medium up) {
    padding-top: block(2xlarge);
    padding-bottom: block(2xlarge);
    padding-right: block(medium);
  }

  @include breakpoint(large up) {
    padding-left: calc(100% / 12);
  }
}

.cardExcerpt {
  display: -webkit-box;
  margin-top: block(small);
  overflow: hidden;
  text-overflow: ellipsis;

  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.linkLabel {
  @include theme-link;
  margin-top: 8px;

  .story:hover &,
  .featureInner:hover & {
    color: var(--brand-1-color);

    svg {
      transform: translateX(4px);
    }
  }
}
