.section {
  
}

.sectionInner {
  @include gridWidth;
  @include gridPadding;

  @include breakpoint(medium up) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}

.sectionContent {
  padding-top: block(large);
  padding-bottom: block(large);

  h2 {
    @include h2;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  @include breakpoint(medium down) {
    padding-right: block(gutter);
    padding-left: block(gutter);
  }

  @include breakpoint(medium up) {
    padding-top: block(2xlarge);
    padding-bottom: block(2xlarge);
    display: flex;
    grid-column-end: span 6;
  }

  @include breakpoint(large up) {
    padding-right: block(medium);
    padding-left: block(medium);
  }

  @include breakpoint(large up) {
    padding-left: calc(100% / 6);
  }
}

.sectionContentInner {
  margin-top: auto;
  margin-bottom: auto;
}

.sectionImage {
  @include breakpoint(medium up) {
    position: relative;
    grid-column-end: span 6;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}