@for $i from 1 through 3 {
  .cardInner[data-style="brand-#{$i}"] {
    background-color: var(--tone-brand-#{$i});
  }
}

.card {
  display: flex;
}

.cardInner {
  @include card-link;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: block(medium);
  text-align: center;
}

a.cardInner:focus-visible {
  outline: dashed 2px var(--primary-color);
  outline-offset: 4px;
}

.cardIcon img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  object-position: 50% 100%;
}

.cardIcon[data-icon="contact"] img {
  width: 54px;
}

.cardTitle {
  margin-bottom: 24px;
}

.cardLink {
  display: block;
  margin-top: 24px;
  font-size: 1.25rem;
  font-weight: 500;
}